<!-- <h1>Hello World!</h1>
<h2>This component injects EchoService {{todaydate}}</h2>
Response is: <span>{{response | async | json}}</span> -->


<!DOCTYPE html>
<html>
    <head>
        <title>Summer by Vee</title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" /> -->
        <!-- <script src="https://unpkg.com/core-js@^2.4.1/client/shim.js"></script> -->
    </head>
    <body>
        <router-outlet></router-outlet>
    </body>
</html>
