<!-- <div class="header-bottom">
    <div class="container">
        <a href="index.html" class="site-logo">
            <img src="../../../assets/img/logo.png" alt="">
        </a>
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <div class="header-search">
            <a href="#"><i class="fa fa-search"></i></a>
        </div>
        <ul class="main-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Features</a></li>
            <li><a href="recipes.html">Receipies</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
</div> -->

<!-- <nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar inverse"></span>
                <span class="icon-bar inverse"></span>
                <span class="icon-bar inverse"></span> 
            </button>
            <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse main-menu" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Receipies</a></li> 
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png" alt=""></a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Receipies</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-md nav-bar">
    <!-- Brand -->
    <!-- <a class="container" href="#"> -->
        <img class="img-fluid" src="../../../assets/img/logo.jpeg" style="width: 120px;height: auto;" alt="">
    <!-- </a> -->
    
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon">
            <i class="fa fa-navicon"></i>
        </span>
    </button>
    
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link navlink-textcolor" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navlink-textcolor" href="#">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navlink-textcolor" href="#">Receipies</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link navlink-textcolor" href="#">Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navlink-textcolor" href="#">Contact</a>
        </li>
        </ul>
    </div> 
</nav>