<div class="header-top">
    <div class="container">
        <div class="header-social">
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="user-panel">
            <span>
                <a href="#">
                    <span class="fa fa-user"></span> Sign Up</a>
            </span>
            <span>
                <a href="#">
                    <span class="fa fa-sign-in"></span> Login
                </a>
            </span>
        </div>
    </div>
</div>